<div class="w-screen h-screen bg-gray-800 text-center pt-8">
    <h1 class="text-white text-2xl">Welcome to CryptoAPI.</h1>
    <p class="text-white text-md px-12 pt-6">This application is built to show off the use of APIs in displaying
        cryptocurrency
        price info.</p>

    <!-- <button onclick="runAPI()" class="px-12 py-4 mt-24 rounded-full bg-indigo-500 text-white">Run API</button> -->
    <button onclick="redirect()" class="px-12 py-4 mt-20 rounded-full bg-indigo-500 text-white">
        Dashboard
    </button>
    <!-- <div class="absolute flex space-y-2 flex-col bottom-0 py-12 w-screen text-white h-auto place-content-center">
        <p>Created and maintained by <a target="_blank" href="http://github.com/danialhasan"
                class="font-bold italic ">Danial
                Hasan.</a>
        </p>
        <p>Found a bug? <a target="_blank" href="https://twitter.com/03dh752" class="font-bold italic">Tweet @ me</a>
            or <a target="_blank" href="https://github.com/danialhasan/CryptoAPI/pulls" class="font-bold italic">submit
                a pull request.</a></p>
        <div class="inline-flex mx-auto space-x-8 w-auto h-auto">
            <div class="w-12 h-12 rounded-full">
                <a target="_blank" href="https://twitter.com/03dh752">
                    <img src="./assets/icons/twitter-logo-01282021/Twitter social icons/Twitter social icons - circle/Twitter social icons - circle - blue.png"
                        alt="TWITTER" srcset="">
                </a>
            </div>
            <div class="w-12 h-12 rounded-full">
                <a target="_blank" href="https://github.com/danialhasan">
                    <img src="./assets/icons/GitHub-Mark/PNG/GitHub-Mark-Light-64px.png" alt="GITHUB" srcset="">
                </a>
            </div>
            <div class="w-12 h-12 rounded-full bg-white">
                <a target="_blank" href="https://www.linkedin.com/in/danial-hasan-0bb166182/">
                    <img src="./assets/icons/LinkedIn-Logos/linkedin.png" alt="LINKEDIN" srcset="">
                </a>
            </div>

        </div>
    </div> -->
</div>