<div class="w-screen h-screen bg-gray-800 text-center">
    <div class="text-white text-3xl">You are in the Landing Page.</div>

    <!-- <button onclick="runAPI()" class="px-12 py-4 mt-24 rounded-full bg-indigo-500 text-white">Run API</button> -->
    <button onclick="window.location.href = '/dashboard'"
        class="px-12 py-4 mt-24 rounded-full bg-indigo-500 text-white">
        Dashboard
    </button>

</div>