<div class="w-screen h-screen bg-gray-800 text-center pt-8">
    <h1 class="text-white text-2xl">Welcome to CryptoAPI.</h1>
    <p class="text-white text-md px-12 pt-6">This application is built to show off the use of APIs in displaying
        cryptocurrency
        price info.</p>

    <!-- <button onclick="runAPI()" class="px-12 py-4 mt-24 rounded-full bg-indigo-500 text-white">Run API</button> -->
    <button onclick="redirect()" class="px-12 py-4 mt-20 rounded-full bg-indigo-500 text-white">
        Dashboard
    </button>

</div>